@media only screen and (max-width: 620px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        flex-direction: column;
        overflow: hidden;
        color: whitesmoke;
        font-size: 4vmin;
        background-image: url("../img/mobile.JPG");
        background-size: 100%;
        background-repeat: no-repeat;
        user-select: none;
    }

    #wrapper {
        width: 100vw;
        height: 85vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    #time {
        width: 90vw;
        height: 15vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background: #273238;
        padding: 0 5vw;
    }

    #time p {
        width: 25vw;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    #months {
        color: #f0ac44;
    }

    #weeks {
        color: #f04658;
    }

    #days {
        color: #6956e1;
    }

    #hours {
        color: #50f095;
    }

    #mins {
        color: #54a1e1;
    }

    #secs {
        color: #c678dd;
    }
}
