body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
    font-size: 2rem;
    background: #273238;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

p {
    text-align: center;
}

#days {
    color: #6956e1;
}

#hours {
    color: #50f095;
}

#mins {
    color: #54a1e1;
}

#secs {
    color: #c678dd;
}

@media screen and (max-aspect-ratio: 1/1) {
    body {
        padding: 10vh 0;
        box-sizing: border-box;
        flex-direction: column;
    }
}
